*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:Georgia, 'Times New Roman', Times, serif ;
    margin: 0;
    text-align: center;
    font-weight: 100;
    font-size: normal;
}

header{
    background-color:  rgb(255, 143, 108);
    color: azure;
    padding: 20px;
}

.intro, .project, .contact{
    padding: 20px;
}

.project{
    border: 1px solid #e7dada;
    margin: 0;
    width: 100%;
    padding: 20px;


}

footer{
    background-color:  rgb(255, 143, 108);
    color: #ccc;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
    font-size: 10px;}

img{
    height: 50%;
    width: 50%;
    border-radius: 20px;
}



